*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px;
  font-family: Montserrat, sans-serif; }

*:focus {
  outline: none; }

.container {
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  padding: 10rem 0; }
  @media (max-width: 600px) {
    .container {
      padding: 2rem 5px; } }

.flex-between {
  display: flex;
  justify-content: space-between; }

.u-margin-bottom-s {
  margin-bottom: 2rem; }

.u-margin-bottom-m {
  margin-bottom: 4rem; }

.background {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1000;
  background-image: linear-gradient(to right, rgba(56, 142, 60, 0.7), rgba(76, 175, 80, 0.7)), url("../assets/background.jpg");
  background-position: center;
  background-size: cover; }

.app {
  width: 40%;
  font-size: 1.8rem; }
  @media (max-width: 1200px) {
    .app {
      width: 60%; } }
  @media (max-width: 900px) {
    .app {
      width: 80%; } }
  @media (max-width: 600px) {
    .app {
      width: 100%; } }
  @media (max-width: 350px) {
    .app {
      font-size: 1.6rem; } }
  .app__input-task {
    width: 100%;
    padding: 1rem 2rem;
    font-size: inherit;
    border-radius: 2rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.6); }
    .app__input-task:focus {
      outline: none; }
  .app__add-task, .app__clear-tasks {
    width: 130px;
    padding: 1rem 2rem;
    font-size: inherit;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    transition: background-color .4s;
    background-color: rgba(255, 255, 255, 0.6); }
    .app__add-task:hover, .app__clear-tasks:hover {
      background-color: rgba(255, 255, 255, 0.8); }
    @media (max-width: 900px) {
      .app__add-task:hover, .app__clear-tasks:hover {
        background-color: rgba(255, 255, 255, 0.6); } }
  .app__list {
    list-style: none; }
  .app__item {
    padding: 1rem 2rem;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 2rem; }
    .app__item:not(:last-child) {
      margin-bottom: 2rem; }
  .app__icon {
    transition: color .2s;
    cursor: pointer; }
    .app__icon:not(:last-child) {
      margin-right: 1rem; }
    .app__icon:hover {
      color: #666666; }
    @media (max-width: 900px) {
      .app__icon:hover {
        color: black; } }
