.container {
  width: 100%;
  min-height: 100vh;

  overflow-y: auto;

  display: flex;
  justify-content: center;

  padding: 10rem 0;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.icons-box {
  padding: 0 1rem;
}