.taskForm__input,
.btn,
.task__icon,
.task__title-input,
.task__description-input {
	transition: $transition-time;
}

.taskForm__input:hover,
.taskForm__input:focus,
.taskForm__input:active,
.btn:hover,
.btn:focus {
	border-color: $blue-dark;
	background-color: rgba(255, 255, 255, .8);
}

.task__icon:hover,
.task__icon:focus {
	color: $blue-dark;
}

.task__title-input:hover,
.task__title-input:focus,
.task__title-input:active,
.task__description-input:hover,
.task__description-input:focus,
.task__description-input:active {
	border-color: $blue-light;
}
