.btn {
	cursor: pointer;
	width: 125px;

	@media only screen and (min-width: $mobile-break) {
		width: 140px;
	}
}

.btn--form {
	@include theme;
}

.btn--finished {
	@include theme;
	font-size: 14px;
	padding: 4px 10px;
	width: 160px;
	margin-bottom: 20px;
	margin-top: 20px;
}
