.task {
	display: flex;
	flex-direction: column;
}

.task__main,
.task__extention {
	@include theme;
}

.task__main {
	display: flex;
	justify-content: space-between;
}

.task__extention {
	padding-top: 15px;
	padding-bottom: 15px;

	display: flex;
	flex-direction: column;

	& > *:not(:last-child) {
		margin-bottom: 10px;
	}
}

.task__icons > *:not(:last-child) {
	margin-right: 10px;
}

.task__icons > *:first-child {
	display: none;
}

.taskList--done .task {
	.task__main {
		text-decoration: line-through;
		opacity: 0.8;
	}

	.task__icon:first-child {
		display: inline-block;
	}

	.task__icon:not(:first-child) {
		display: none;
	}

	.task__icons > * {
		margin-right: 0px;
	}
}

.task--priority {
	.task__icons > *:nth-child(3) {
		color: red;
	}
}

.task--open {
	.task__extention {
		margin-top: 10px;
	}

	@media only screen and (min-width: $mobile-break) {
		.task__main {
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;
		}

		.task__extention {
			margin-top: 0px;
			border-top-left-radius: 0px;
			border-top-right-radius: 0px;
			padding-top: 0px;
		}
	}
}

.task__icon {
	cursor: pointer;
}

.task__description-input {
	resize: none;
}

.task__title-input,
.task__description-input {
	font-family: inherit;
	font-size: 14px;
	padding: 5px;
	border: 2px solid white;
}

.task__description-input {
	height: 71px;
}
